section.menuContent {
    font-size: 35px;
    letter-spacing: -0.05em;
    a {
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        text-decoration: none;
    }
    div {
        width: 170px;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        &.menuLeft {
            box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
            @include positionType(fixed);
            ul {
                text-align: right;
                padding-right: 5px;
            }
        }
        &.menuRight {
            box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
            @include positionType(fixed, 0, 1110);
            ul {
                padding-left: 2px;
            }
        }
    }
}
section.mainContent {
    width: 940px;
    margin: 0 auto;
    font-size: 40px;
    div.header {
        margin-top: 100px;
        text-align: center;
    }
    div.content {
        margin-top: 600px;
        &::after { @include clearfix(); }
        h2 {
            font-size: 80px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
        .contentLeft,
        .contentRight {
            width: 470px;
            float: left;
        }
        div {
            margin-top: 50px;
        }
    }
    div.footer {
        margin-top: 100px;
        font-size: 20px;
        text-align: center;
    }
}