section.bgAnimation {
    @include positionType(fixed);
}
section.menuContent {
    position: relative;
    font-size: 35px;
    letter-spacing: -0.05em;
    z-index: 10;
    a {
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        text-decoration: none;
    }
    div {
        width: 350px;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        transition: 0.5s;
        &#menuLeft {
            @include positionType(fixed);
            box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
            &.active {
                width: 170px;
            }
            ul {
                @include positionType(relative, 50%);
                margin-top: -90px;
                text-align: right;
                padding-right: 5px;
            }
        }
        &#menuRight {
            @include positionType(fixed, 0, 930px);
            box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
            &.active {
                @include positionType(fixed, 0, 1110px);
            }
            ul {
                @include positionType(relative, 50%);
                margin-top: -67px;
                padding-left: 2px;
            }
        }
    }
}
section.mainContent {
    width: 940px;
    margin: 0 auto;
    font-size: 40px;
    div.header {
        margin-top: 100px;
        text-align: center;
            @include positionType(relative, 50%);
    }
    div.content {
        position: relative;
        margin-top: 600px;
        &::after { @include clearfix(); }
        h2 {
            font-size: 80px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
        .contentLeft,
        .contentRight {
            width: 470px;
            float: left;
            & > div {
                margin-top: 50px;
            }
        }
        .profile {
            ul {
                margin-left: 20px;
            }
        }
        .works {
            ul {
                &::after { @include clearfix(); }
                li {
                    &.ng-enter {
                        opacity: 1;
                    }
                    & > div {
                        @include positionType(relative);
                        height: 140px;
                        width: 223px;
                        margin: 4px 0 4px 8px;
                        float: left;
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 20px;
                        background: rgba(0, 0, 0, 0.6);
                        cursor: pointer;
                        &.before,
                        &.after {
                            margin: 0 0 0 8px;
                            height: 280px;
                            width: 454px;
                            transition: 0.5s;
                            &::before {
                                content: "";
                                border-style: solid;
                            }
                            &.ng-enter {
                                height: 0;
                                opacity: 0;
                                &.ng-enter-active {
                                    height: 280px;
                                    opacity: 1;
                                }
                            }
                            &.ng-leave {
                                height: 280px;
                                opacity: 1;
                                &.ng-leave-active {
                                    height: 0;
                                    opacity: 0;
                                }
                            }
                            div {
                                width: 215px;
                                margin-top: 8px;
                                float: left;
                                word-wrap: break-word;
                                &.image {
                                    width: 215px;
                                    height: 263px;
                                    margin: 8px;
                                    background: rgba(0, 0, 0, 0.5);
                                }
                            }
                        }
                        &.before {
                            &::before {
                                @include positionType(absolute, 280px, 100px);
                                border-width: 7px 14px 0 14px;
                                border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
                            }
                        }
                        &.after {
                            &::before {
                                @include positionType(absolute, -7px, 330px);
                                border-width: 0 14px 7px 14px;
                                border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
                            }
                        }
                    }
                }
            }
        }
        .skills {
            ul {
                margin-left: 20px;
            }
        }
        .contact {
            p {
                margin-left: 20px;
            }
        }
    }
    div.footer {
        position: relative;
        margin-top: 100px;
        font-size: 20px;
        text-align: center;
    }
}