@mixin positionType($position, $top: 0, $left: 0) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin clearfix() {
    content: "";
    display: block;
    clear: both;
}

@mixin animationPos($top, $left, $height: auto, $width: auto) {
    top: $top + px;
    left: $left + px;
    width: $width + px;
    height: $height + px;
}

@mixin sheepPos($top, $left) {
    position: absolute;
    top: $top + px;
    left: $left + px;
}