@charset "UTF-8";
@font-face {
  font-family: 'web-silom';
  src: url(./silom.ttf);
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  color: #333;
  font-family: "web-silom", "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: #333;
}

ul {
  list-style: none;
}

::selection {
  background: transparent;
}

section.bgAnimation {
  position: fixed;
  top: 0;
  left: 0;
}

section.menuContent {
  font-size: 35px;
  letter-spacing: -0.05em;
}
section.menuContent a {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
section.menuContent div {
  width: 170px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
section.menuContent div.menuLeft {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}
section.menuContent div.menuLeft ul {
  position: relative;
  top: 50%;
  left: 0;
  margin-top: -90px;
  text-align: right;
  padding-right: 5px;
}
section.menuContent div.menuRight {
  position: fixed;
  top: 0;
  left: 1110px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
}
section.menuContent div.menuRight ul {
  position: relative;
  top: 50%;
  left: 0;
  margin-top: -67px;
  padding-left: 2px;
}

section.mainContent {
  width: 940px;
  margin: 0 auto;
  font-size: 40px;
}
section.mainContent div.header {
  margin-top: 100px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 0;
}
section.mainContent div.content {
  position: relative;
  margin-top: 600px;
}
section.mainContent div.content::after {
  content: "";
  display: block;
  clear: both;
}
section.mainContent div.content h2 {
  font-size: 80px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
section.mainContent div.content .contentLeft,
section.mainContent div.content .contentRight {
  width: 470px;
  float: left;
}
section.mainContent div.content .contentLeft > div,
section.mainContent div.content .contentRight > div {
  margin-top: 50px;
}
section.mainContent div.content .profile ul {
  margin-left: 20px;
}
section.mainContent div.content .works ul::after {
  content: "";
  display: block;
  clear: both;
}
section.mainContent div.content .works ul li.ng-enter {
  opacity: 1;
}
section.mainContent div.content .works ul li > div {
  position: relative;
  top: 0;
  left: 0;
  height: 140px;
  width: 223px;
  margin: 4px 0 4px 8px;
  float: left;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
section.mainContent div.content .works ul li > div.before, section.mainContent div.content .works ul li > div.after {
  margin: 0 0 0 8px;
  height: 280px;
  width: 454px;
  transition: 0.5s;
}
section.mainContent div.content .works ul li > div.before::before, section.mainContent div.content .works ul li > div.after::before {
  content: "";
  border-style: solid;
}
section.mainContent div.content .works ul li > div.before.ng-enter, section.mainContent div.content .works ul li > div.after.ng-enter {
  height: 0;
  opacity: 0;
}
section.mainContent div.content .works ul li > div.before.ng-enter.ng-enter-active, section.mainContent div.content .works ul li > div.after.ng-enter.ng-enter-active {
  height: 280px;
  opacity: 1;
}
section.mainContent div.content .works ul li > div.before.ng-leave, section.mainContent div.content .works ul li > div.after.ng-leave {
  height: 280px;
  opacity: 1;
}
section.mainContent div.content .works ul li > div.before.ng-leave.ng-leave-active, section.mainContent div.content .works ul li > div.after.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
}
section.mainContent div.content .works ul li > div.before div, section.mainContent div.content .works ul li > div.after div {
  width: 215px;
  margin-top: 8px;
  float: left;
  word-wrap: break-word;
}
section.mainContent div.content .works ul li > div.before div.image, section.mainContent div.content .works ul li > div.after div.image {
  width: 215px;
  height: 263px;
  margin: 8px;
  background: rgba(0, 0, 0, 0.5);
}
section.mainContent div.content .works ul li > div.before::before {
  position: absolute;
  top: 280px;
  left: 100px;
  border-width: 7px 14px 0 14px;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}
section.mainContent div.content .works ul li > div.after::before {
  position: absolute;
  top: -7px;
  left: 330px;
  border-width: 0 14px 7px 14px;
  border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
}
section.mainContent div.content .skills ul {
  margin-left: 20px;
}
section.mainContent div.content .contact p {
  margin-left: 20px;
}
section.mainContent div.footer {
  position: relative;
  margin-top: 100px;
  font-size: 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
